{% extends 'sidebarbase.html' %}
{% load static %}

{% block title %}
发现
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static '/userinfo/css/mysidebar.css' %}"/>
{% endblock %}

{% block mainbody %}
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3><a href="/">TRITIUM</a></h3>
        </div>

        <ul class="list-unstyled components">
            <p>Welcome, {{current_user.first_name}} {{current_user.last_name}}</p>
            <li>
                <a href="/">{{current_user.username}}</a>
            <li class="active">
                <a href="/discover/">发现</a>
            </li>
            <li>
                <a href="{% url 'userinfo:userprofileview' current_user.username %}">我的主页</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="{% url 'logout' %}" class="logout">Logout</a>
            </li>
        </ul>
    </nav>
    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a class="createpost" href="{% url 'articles:createpostview'%}">
                    <svg class="bi bi-plus-square" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                        <path fill-rule="evenodd"
                              d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                        <path fill-rule="evenodd"
                              d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    </svg>
                </a>
            </div>
        </nav>

        <!-- main content-->
        <div class="container">
            <div class="card text-center" id="title-card">
                <div class="card-body">
                    <h1 class="card-title display-4">ALL POSTS</h1>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                {% for userpost in userposts %}
                <div class="col mb-4">
                    <div class="card post-card h-100">
                        <div class="img-container">
                            <img src="{{ userpost.picture.url }}" class="card-img-top">
                        </div>
                        <div class="card-body post-text">
                            <h3 class="card-title"><a href="{% url 'articles:postsdetailview' userpost.id %}">
                                {{userpost.title }}</a></h3>
                            <p class="card-text">{{ userpost.content }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-4">
                                    <small class="text-muted">By <a id="userlink" href="{% url 'userinfo:userprofileview' userpost.slug %}">{{userpost.user.username}}</a></small>
                                </div>
                                <div class="col-8">
                                    <small class="text-muted">Posted at {{ userpost.uploadtime }}</small>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}