body{
    background-color: #1e2022;
}

#main{
    color: white;
}

.card{
    background-color: #393a3d;
    margin-bottom: 20px;
    margin-right: 10px;
}

.card-title{
    font-family: "Roboto";
    text-transform: uppercase;
    font-weight: lighter;
    color: rgb(192,193,195);
}

.menuicon{
    cursor:pointer;
    margin-bottom: 10px;
}

.img-container{
    height: 200px;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}

.card-img-top{
    height: auto;
}